# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Tests
coverage

# Compiled
dist/
tsconfig.build.tsbuildinfo

# Cache
.eslintcache
.DS_Store
tmp/
.clinic/

# Editors configs
.vscode
!.vscode/tasks.js
.idea/

# Locks and configs
.npm
yarn.lock

# Configs
.env

# K8s
.livenessProbe

